<section>
  <p class="flash"><%= notice %><%= alert %></p>
  <br>
</section>
<section>
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <img src="<%= asset_path "insta.gif" %>">
    </div>
    <div class="col-md-2 col-sm-4">
    <% if user_signed_in? %>
      <br><br><br><br><br><br><br>
      <p class="box1">
      あげたい画像はありますか？
      <br><br>
      <%= link_to '画像を投稿する', new_picture_path, class: 'btn btn-default' %>
      </p>
    <% else %>
      <br><br><br><br><br><br><br>
      <p class="box1">
      アカウント作成はこちら
      <br><br>
      <%= link_to '作成する', new_user_registration_path, class: 'btn btn-default'  %>
    <% end %>
    </div>
  </div>
</section>
