<div class="container">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10">

<h2>編集 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
  </div>
  <br>
  
  <div class="field">
    <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
  </div>
  <br>

<% if @user.provider.blank? %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
  </div>
  <br>
  
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
  </div>
  <br>
  
  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "現在のパスワード" %>
  </div>
  <br>
  <% end %>
  
  <div class="field">
    <%= profile_img(@user) if profile_img(@user) %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit '更新', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<h3>アカウントの削除</h3>

<p>※ 削除されたアカウントの復元はできません <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %></p>

<%= link_to '戻る', :back , class: 'btn btn-secondary btn-block' %>

  </div>
</div>